body {
  background-color: #1f618d;
}

/* ==================================================== */
/* Landing Page CSS  */
.landingHeader {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.form__label {
  font-size: 2rem;
  margin-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}

.name__input {
  margin: auto;
  font-size: 1.5rem;
  width: 15rem;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name__submit-btn {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 700;
  height: 4rem;
  width: 15rem;

  background-color: #2ecc71;
  color: black;

  border-radius: 15px;
  border-width: 0;
}
/* ==================================================== */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 50rem;
  height: 10rem;
  font-size: 3rem;
}

.margin_top {
  margin-top: 12rem;
}

.margin_top_top {
  margin-top: 24rem;
}

.hidden {
  display: none;
}

.center_top {
  display: flex;
  justify-content: center;
}

.guess_btn {
  width: 30rem;
  height: 5rem;

  font-size: 3rem;
  display: flex;
  align-items: center;
}

.countdown {
  font-size: 3rem;
  color: aliceblue;
}
