body {
  background-color: #1f618d;
}

/* ==================================================== */
/* Landing Page CSS  */

@keyframes pageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.landingHeader {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  animation-name: pageAppear;
  animation-duration: 3s;
}

.form__label {
  font-size: 2rem;
  margin-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  animation-name: pageAppear;
  animation-duration: 3s;
}

.form-control {
  margin: auto;
  font-size: 1.5rem;
  width: 15rem;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: pageAppear;
  animation-duration: 3s;
}

.btn {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  height: 4rem;
  width: 15rem;

  background-color: #2ecc71;
  color: black;

  border-radius: 15px;
  border-width: 0;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.5);

  animation-name: pageAppear;
  animation-duration: 3s;
}
/* ==================================================== */

.center_normal--text {
  font-size: 1.5em;
  color: white;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  animation-name: pageAppear;
  animation-duration: 3s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 50rem;
  height: 3rem;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.guess_btn {
  width: 30rem;
  height: 5rem;

  font-size: 3rem;
  display: flex;
  align-items: center;
}

.word {
  font-size: 2rem;
  font-weight: 600;
  height: 4rem;
  display: flex;
  align-items: center;

  background-color: #154360;
}
.margin_top {
  margin-top: 6rem;
}
.margin_top_top {
  margin-top: 12rem;
}

.margin_top_top_top {
  margin-top: 18rem;
}
